<!DOCTYPE html>
<html lang="en">

<head>
	<script src="https://www.w3schools.com/lib/w3.js"></script>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>CIBR-Face</title>
	<script type="text/javascript">
		(function () {
			var css = document.createElement("link");
			css.href =
				"https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
			css.rel = "stylesheet";
			css.type = "text/css";
			document.getElementsByTagName("head")[0].appendChild(css);
		})();
	</script>
	<link rel="stylesheet" href="../static/assets/css/app.css" />
	<link rel="stylesheet" href="../static/assets/css/theme.css" />
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
		<a class="navbar-brand font-weight-bolder mr-3" href="index.html"><img
				src="../static/assets/img/" /></a>
		<button class="navbar-light navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsDefault"
			aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarsDefault">
			<ul class="navbar-nav mr-auto align-items-center">
				<form class="bd-search hidden-sm-down">
					<input type="text" class="form-control bg-graylight border-0 font-weight-bold" id="search-input"
						placeholder="Tìm kiếm..." autocomplete="off" />
					<div class="dropdown-menu bd-search-results" id="search-results"></div>
				</form>
			</ul>
			<ul class="navbar-nav ml-auto align-items-center">
				<li class="nav-item">
					<a class="nav-link active" href="index.html">Trang chủ</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" href="author.html"><img class="rounded-circle mr-2"
							src="../static/assets/img/av.png" width="30" /><span class="align-middle">Cá nhân</span></a>
				</li>
			</ul>
		</div>
	</nav>
	<main role="main">
		<section class="mt-4 mb-5">
			<div class="container mb-4">
				<div class="row">
					<nav class="navbar navbar-expand-lg navbar-light bg-white pl-2 pr-2">
						<button class="navbar-light navbar-toggler" type="button" data-toggle="collapse"
							data-target="#navbarsExplore" aria-controls="navbarsDefault" aria-expanded="false"
							aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>
					</nav>
					
					<!-- enctype="multipart/form-data" -->
					<form action="/upload" method="post" enctype="multipart/form-data">
						<h5>Chọn ảnh để tìm kiếm</h5>
						<input type="file" name="image" id="image" class="form-control-file font-weight-bold" /><br />
						<button style="margin-top: 10px" type="submit" class="btn btn-danger">
							Tải lên
						</button>

					</form>
					<!-- <button style="margin-top: 10px" type="submit" class="btn btn-danger" onclick="get_image()">
						get_image
					</button> -->
				</div>
			</div>
			<div class="container-fluid">
				<div class="row">
					<div class="card-columns"id="id01">
						<div  class="card card-pin" w3-repeat="data">
							<img class="card-img"
								src="{{image}}"
								alt="Card image" />
							<div class="overlay">
								<h2 class="card-title title">Mặt</h2>
								<div class="more">
									<a href="post.html">
										<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
									
									</a>
								</div>
							</div>
						</div>
						<!-- <div class="card card-pin">
							<img class="card-img"
								src="../static/images/0074CNlc.jpg"
								alt="Card image" />
							<div class="overlay">
								<h2 class="card-title title">Cool Title</h2>
								<div class="more">
									<a href="post.html">
										<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
										More
									</a>
								</div>
							</div>
						</div> -->
						
					
						
						
					</div>
				</div>
			</div>
		</section>
	</main>

	<script src="../static/assets/js/app.js"></script>
	<script src="../static/assets/js/theme.js"></script>

	<footer class="footer pt-5 pb-5 text-center">
		<div class="container">
			<div class="socials-media">
				<ul class="list-unstyled">
					<li class="d-inline-block ml-1 mr-1">
						<a href="#" class="text-dark"><i class="fa fa-facebook"></i></a>
					</li>
					<li class="d-inline-block ml-1 mr-1">
						<a href="#" class="text-dark"><i class="fa fa-twitter"></i></a>
					</li>
					<li class="d-inline-block ml-1 mr-1">
						<a href="#" class="text-dark"><i class="fa fa-instagram"></i></a>
					</li>
					<li class="d-inline-block ml-1 mr-1">
						<a href="#" class="text-dark"><i class="fa fa-google-plus"></i></a>
					</li>
					<li class="d-inline-block ml-1 mr-1">
						<a href="#" class="text-dark"><i class="fa fa-behance"></i></a>
					</li>
					<li class="d-inline-block ml-1 mr-1">
						<a href="#" class="text-dark"><i class="fa fa-dribbble"></i></a>
					</li>
				</ul>
			</div>

			<!--
              All the links in the footer should remain intact.
              You may remove the links only if you donate:
              https://www.wowthemes.net/freebies-license/
            -->
			<p>
				©
				<span class="credits font-weight-bold">
					<a target="_blank" class="text-dark"
						href="https://www.wowthemes.net/pintereso-free-html-bootstrap-template/"><u>Pintereso Bootstrap
							HTML Template</u> by WowThemes.net.</a>
				</span>
			</p>
		</div>
	</footer>

	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script>
		  const fetchUsers = () => {
        axios.get('/api/image')
            .then(response => {
                const rest = response.data;
                w3.displayObject("id01", rest);
           
            
            })
            .catch(error => console.error(error));
    };

    fetchUsers();
		function get_image() {


			let str = "/api/image";
			console.log(str);

			axios
				.get(str)
				.then((response) => {
					const rest = response.data;
					console.log(`GET list image`, rest);



					w3.displayObject("id01", rest);
				})
				.catch((error) => console.error(error));
		}
	</script>
</body>

</html>